@charset "UTF-8";
/* COLORES */
/*SOMBRA*/
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
/* COLORES */
/*SOMBRA*/
.encabezado {
  width: 100%;
}

.encabezado__contactanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e474c;
  position: relative;
  color: #c8b176;
  min-height: 2rem;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #FFFFFF29;
}

.encabezado__contactanos ul {
  margin: 2vh;
}

.encabezado__contactanos ul li {
  display: inline;
  margin: auto 1vh auto 1vh;
}

@media screen and (max-width: 425px) {
  .encabezado__contactanos {
    display: none;
  }
}

.encabezado__nav {
  background-color: #3e474c;
  padding-bottom: 0.6rem;
}

.encabezado__logo {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  /* para ajustar la imagen al contenedor*/
  /*colocandole una animacion de 3segundos al logo*/
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lista {
  list-style: none;
  /*para que mi lista no tenga viñetas*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* Para que se distancien dejando espacio alrededor */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* y se centren */
  /* Para que en movil se muestren en columna */
}

@media screen and (max-width: 425px) {
  .lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem;
    margin: 0rem;
  }
}

@media screen and (max-width: 425px) {
  .lista__li {
    padding-top: 1rem;
  }
}

.lista__item {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
  /* transicion de 1segundo */
  -webkit-transition: all 1s;
  transition: all 1s;
}

.lista__item--act {
  color: #c8b176;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.lista__item:hover {
  /*Cuando pase el mouse por el ancor de las listas el menu nav resalte la palabra en 
     dorado y cambie el tamaño de la letra*/
  color: #c8b176;
}

/* COLORES */
/*SOMBRA*/
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
.mainPrincipal {
  background-color: #f2f2f2;
}

@media screen and (max-width: 425px) {
  .mainPrincipal {
    margin-top: 0;
  }
}

.principal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 200px 200px 150px auto;
      grid-template-rows: 200px 200px 150px auto;
      grid-template-areas: "foto foto foto" "foto foto foto" "foto foto foto" "parrafo parrafo parrafo";
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .principal {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "foto" "foto" "foto" "parrafo";
  }
}

.principal__foto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: foto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804066/proyectoEstudio/assets/tinified/principal_s2bnwq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.principal__texto {
  margin-top: 9rem;
  margin-left: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: #f2f2f2;
}

@media screen and (width: 1024px) {
  .principal__texto {
    margin-left: 5rem;
    margin-top: 10rem;
  }
}

@media screen and (width: 768px) {
  .principal__texto {
    margin-left: 4rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 425px) {
  .principal__texto {
    margin-top: 3.5rem;
    margin-left: 1.5rem;
  }
}

.principal__texto--titulo {
  font-size: 5rem;
  font-weight: bold;
}

@media screen and (width: 1024px) {
  .principal__texto--titulo {
    font-size: 3.5rem;
  }
}

@media screen and (width: 768px) {
  .principal__texto--titulo {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 425px) {
  .principal__texto--titulo {
    font-size: 1.7rem;
  }
}

.principal__texto--boton {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #c8b176;
  border-radius: 2rem;
  padding: 0.5rem;
  border-color: #c8b176;
  color: #f2f2f2;
  font-size: 1.2rem;
}

@media screen and (max-width: 425px) {
  .principal__texto--boton {
    margin-bottom: 2.5rem;
    font-size: 1rem;
  }
}

.principal__texto--boton:hover {
  background-color: #3e474c;
  color: #c8b176;
}

.principal__texto--ancor {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #f2f2f2;
}

.principal__texto--ancor:hover {
  color: #f2f2f2;
}

.principal__parrafo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: parrafo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  text-align: center;
  padding: 3rem;
  color: #3e474c;
  /* El tamaño de la fuente cambia de un dispositivo a otro */
}

.principal__parrafo {
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .principal__parrafo {
    font-size: calc( 1rem +  num(1.2rem)-num(1rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .principal__parrafo {
    font-size: 1.2rem;
  }
}

.principal__linea {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.principal__seccion {
  padding-top: 2rem;
  color: #3e474c;
}

.noticias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
      grid-template-areas: "fotoArea1 fotoArea2 fotoArea3 fotoArea4";
  gap: 1rem;
  width: 100%;
  background-color: #f2f2f2;
  place-items: center;
  padding: 1rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  .noticias {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1" "fotoArea2" "fotoArea3" "fotoArea4";
    padding: 0.5rem;
    margin-top: 0%;
  }
}

@media screen and (width: 768px) {
  .noticias {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1 fotoArea2" "fotoArea3 fotoArea4";
    padding: 0.5rem;
    margin-top: 0%;
  }
}

.noticias__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noticias__item:hover {
  -webkit-box-shadow: 5px 5px 5px 5px #2f2d2d3f;
          box-shadow: 5px 5px 5px 5px #2f2d2d3f;
}

.noticias__item--foto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.noticias__item--titulo {
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
  font-weight: bold;
  border-bottom: #3e474c solid;
  border-width: 0.1rem;
}

.noticias__item--titulo {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .noticias__item--titulo {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .noticias__item--titulo {
    font-size: 1rem;
  }
}

.noticias__item--ancor {
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
}

.noticias__item--ancor:hover {
  color: #c8b176;
}

.noticias__item--ancor {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .noticias__item--ancor {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .noticias__item--ancor {
    font-size: 1rem;
  }
}

.fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fotoArea1;
  background-color: #f6f2f2c2;
  padding: 2rem;
  border-width: 1rem;
}

@media screen and (max-width: 425px) {
  .fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
    width: auto;
  }
}

.fotoArea2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotoArea2;
}

.fotoArea3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoArea3;
}

.fotoArea4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fotoArea4;
}

/* COLORES */
/*SOMBRA*/
/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Para que sus elementos sean flexibles y esten en linea*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* distancia entre sus elementos */
  width: 100%;
  /* Que ocupe el 100% del navegador*/
  height: auto;
  /*alto*/
  /* Para que en movil el pie de pagina se muestre en columnas y centrado */
  /* utilizando gradientes para el fondo del footer*/
  background: #c8b176;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(122, 107, 69, 0.975)), color-stop(93%, #3e474c));
  background: linear-gradient(90deg, rgba(122, 107, 69, 0.975) 3%, #3e474c 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8b176", endColorstr="#3e474c", GradientType=1);
  /* Para que en movil se vean los iconos de redes sociales en fila y centrados */
}

@media screen and (max-width: 425px) {
  .pie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pie__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* En movil no se vera el logo ni paginas de interes */
}

@media screen and (max-width: 425px) {
  .pie__logo {
    display: none;
  }
}

.pie__pag {
  padding-top: 2rem;
  /*margen superior*/
  text-align: center;
}

.pie__pag--tit {
  color: #f2f2f2;
  /* color de letra */
  text-decoration: underline;
  /*subrayado*/
  padding-bottom: 1rem;
  /* padding inferior*/
  text-align: center;
}

.pie__pag--tit {
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pie__pag--tit {
    font-size: calc( 1rem +  num(1.4rem)-num(1rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .pie__pag--tit {
    font-size: 1.4rem;
  }
}

@media screen and (width: 768px) {
  .pie__pag--tit {
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  .pie__pag {
    display: none;
  }
}

.pie__lista {
  list-style: none;
  /* sin viñetas */
}

@media screen and (width: 768px) {
  .pie__lista {
    font-size: small;
  }
}

.pie__lista--item {
  color: #f2f2f2;
  /* color de letra */
  text-decoration: none;
  /*Sin subrayado */
  padding-bottom: 1rem;
}

.pie__lista--item:hover {
  color: #c8b176;
}

.pie__dir {
  /* La direccion en el pie de pagina*/
  padding-top: 2.5rem;
  line-height: 1.5rem;
  /* interlineado */
  color: #f2f2f2;
  /* color de letra */
  text-align: center;
}

@media screen and (max-width: 425px) {
  .pie__dir {
    padding-top: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (width: 768px) {
  .pie__dir {
    font-size: small;
    line-height: 1rem;
  }
}

.pie__redes {
  list-style: none;
}

.pie__iconos, .encabezado__iconos {
  size: 2rem;
  text-decoration: none;
  padding: 0.3rem;
  margin: 1.5rem;
  border-radius: 50%;
}

@media screen and (width: 768px) {
  .pie__iconos, .encabezado__iconos {
    size: 1rem;
    margin: 1rem;
  }
}

.pie__iconos--color, .encabezado__iconos--color {
  color: #f2f2f2;
}

.pie__iconos--color:hover, .encabezado__iconos--color:hover {
  color: #c8b176;
}

@media screen and (max-width: 425px) {
  .pie .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .pie .redes ul {
    margin: 3vh;
  }
  .pie .redes ul li {
    display: inline;
    margin: auto 2vh auto 2vh;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  background: #c8b176;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(122, 107, 69, 0.975)), color-stop(93%, #3e474c));
  background: linear-gradient(90deg, rgba(122, 107, 69, 0.975) 3%, #3e474c 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8b176", endColorstr="#3e474c", GradientType=1);
  color: #f2f2f2;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #FFFFFF29;
}

.copyright {
  font-size: 0.7rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .copyright {
    font-size: calc( 0.7rem +  num(0.9rem)-num(0.7rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .copyright {
    font-size: 0.9rem;
  }
}

/* COLORES */
/*SOMBRA*/
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
/* COLORES */
/*SOMBRA*/
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
.mainPrincipal {
  background-color: #f2f2f2;
}

@media screen and (max-width: 425px) {
  .mainPrincipal {
    margin-top: 0;
  }
}

.principal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 200px 200px 150px auto;
      grid-template-rows: 200px 200px 150px auto;
      grid-template-areas: "foto foto foto" "foto foto foto" "foto foto foto" "parrafo parrafo parrafo";
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .principal {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "foto" "foto" "foto" "parrafo";
  }
}

.principal__foto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: foto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804066/proyectoEstudio/assets/tinified/principal_s2bnwq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.principal__texto {
  margin-top: 9rem;
  margin-left: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: #f2f2f2;
}

@media screen and (width: 1024px) {
  .principal__texto {
    margin-left: 5rem;
    margin-top: 10rem;
  }
}

@media screen and (width: 768px) {
  .principal__texto {
    margin-left: 4rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 425px) {
  .principal__texto {
    margin-top: 3.5rem;
    margin-left: 1.5rem;
  }
}

.principal__texto--titulo {
  font-size: 5rem;
  font-weight: bold;
}

@media screen and (width: 1024px) {
  .principal__texto--titulo {
    font-size: 3.5rem;
  }
}

@media screen and (width: 768px) {
  .principal__texto--titulo {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 425px) {
  .principal__texto--titulo {
    font-size: 1.7rem;
  }
}

.principal__texto--boton {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #c8b176;
  border-radius: 2rem;
  padding: 0.5rem;
  border-color: #c8b176;
  color: #f2f2f2;
  font-size: 1.2rem;
}

@media screen and (max-width: 425px) {
  .principal__texto--boton {
    margin-bottom: 2.5rem;
    font-size: 1rem;
  }
}

.principal__texto--boton:hover {
  background-color: #3e474c;
  color: #c8b176;
}

.principal__texto--ancor {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #f2f2f2;
}

.principal__texto--ancor:hover {
  color: #f2f2f2;
}

.principal__parrafo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: parrafo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  text-align: center;
  padding: 3rem;
  color: #3e474c;
  /* El tamaño de la fuente cambia de un dispositivo a otro */
}

.principal__parrafo {
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .principal__parrafo {
    font-size: calc( 1rem +  num(1.2rem)-num(1rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .principal__parrafo {
    font-size: 1.2rem;
  }
}

.principal__linea {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.principal__seccion {
  padding-top: 2rem;
  color: #3e474c;
}

.noticias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
      grid-template-areas: "fotoArea1 fotoArea2 fotoArea3 fotoArea4";
  gap: 1rem;
  width: 100%;
  background-color: #f2f2f2;
  place-items: center;
  padding: 1rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  .noticias {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1" "fotoArea2" "fotoArea3" "fotoArea4";
    padding: 0.5rem;
    margin-top: 0%;
  }
}

@media screen and (width: 768px) {
  .noticias {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1 fotoArea2" "fotoArea3 fotoArea4";
    padding: 0.5rem;
    margin-top: 0%;
  }
}

.noticias__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noticias__item:hover {
  -webkit-box-shadow: 5px 5px 5px 5px #2f2d2d3f;
          box-shadow: 5px 5px 5px 5px #2f2d2d3f;
}

.noticias__item--foto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.noticias__item--titulo {
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
  font-weight: bold;
  border-bottom: #3e474c solid;
  border-width: 0.1rem;
}

.noticias__item--titulo {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .noticias__item--titulo {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .noticias__item--titulo {
    font-size: 1rem;
  }
}

.noticias__item--ancor {
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
}

.noticias__item--ancor:hover {
  color: #c8b176;
}

.noticias__item--ancor {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .noticias__item--ancor {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .noticias__item--ancor {
    font-size: 1rem;
  }
}

.fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fotoArea1;
  background-color: #f6f2f2c2;
  padding: 2rem;
  border-width: 1rem;
}

@media screen and (max-width: 425px) {
  .fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
    width: auto;
  }
}

.fotoArea2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotoArea2;
}

.fotoArea3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoArea3;
}

.fotoArea4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fotoArea4;
}

/* MAIN SECCION ESPECIALIDADES*/
/* COLORES */
/*SOMBRA*/
/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.especialidades {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
      grid-template-areas: "fotoArea1 fotoArea2 fotoArea3" "fotoArea4 fotoArea5 fotoArea6";
  gap: 1rem;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  place-items: center;
  padding: 20px;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .especialidades {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1" "fotoArea2" "fotoArea3" "fotoArea4" "fotoArea5" "fotoArea6";
    gap: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (width: 768px) {
  .especialidades {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1 fotoArea2" "fotoArea3 fotoArea4" "fotoArea5 fotoArea6";
    padding: 0.5rem;
  }
}

.especialidades__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.especialidades__item--foto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.especialidades__item--parrafo {
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
  border-top: #3e474c solid;
  border-width: 1px;
}

.especialidades__item--parrafo {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .especialidades__item--parrafo {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .especialidades__item--parrafo {
    font-size: 1rem;
  }
}

.fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fotoArea1;
  background-color: #f6f2f2c2;
  padding-top: 25px;
  width: 20rem;
  border-width: 1px;
}

@media screen and (max-width: 425px) {
  .fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
    width: auto;
  }
}

.fotoArea2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotoArea2;
}

.fotoArea3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoArea3;
}

.fotoArea4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fotoArea4;
}

.fotoArea5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fotoArea5;
}

.fotoArea6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fotoArea6;
}

* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #f2f2f2;
  background: #c8b176;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(122, 107, 69, 0.975)), color-stop(93%, #3e474c));
  background: linear-gradient(90deg, rgba(122, 107, 69, 0.975) 3%, #3e474c 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8b176", endColorstr="#3e474c", GradientType=1);
}

@media screen and (max-width: 425px) {
  .main__titulo {
    padding-top: 2.5rem;
  }
}

.nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
      grid-template-areas: "fotoArea1 fotoArea2 fotoArea3" "fotoArea4 fotoArea5 fotoArea6";
  gap: 1rem;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  place-items: center;
  padding: 20px;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .nosotros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1" "fotoArea2" "fotoArea3" "fotoArea4" "fotoArea5" "fotoArea6";
    padding: 0.5rem;
  }
}

@media screen and (width: 768px) {
  .nosotros {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1 fotoArea2" "fotoArea3 fotoArea4" "fotoArea5 fotoArea6";
    padding: 0.5rem;
  }
}

.nosotros__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__item--foto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nosotros__item--parrafo {
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
  border-top: #3e474c solid;
  border-width: 1px;
}

.nosotros__item--parrafo {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nosotros__item--parrafo {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .nosotros__item--parrafo {
    font-size: 1rem;
  }
}

.fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fotoArea1;
  background-color: #f6f2f2c2;
  padding-top: 25px;
  width: 20rem;
  border-width: 1px;
}

@media screen and (max-width: 425px) {
  .fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
    width: auto;
  }
}

.fotoArea2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotoArea2;
}

.fotoArea3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoArea3;
}

.fotoArea4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fotoArea4;
}

.fotoArea5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fotoArea5;
}

.fotoArea6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fotoArea6;
}

.foto:hover {
  -webkit-box-shadow: 5px 5px 5px 5px #2f2d2d3f;
          box-shadow: 5px 5px 5px 5px #2f2d2d3f;
}

.redes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconos {
  size: 3rem;
  text-decoration: none;
  padding-right: 2rem;
  margin: 0px;
  border-radius: 50%;
}

.iconos__color {
  color: #3e474c;
}

.iconos__color:hover {
  color: #c8b176;
}

/* MAIN SECCION ESPECIALIDADES*/
/* COLORES */
/*SOMBRA*/
/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.especialidades {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
      grid-template-areas: "fotoArea1 fotoArea2 fotoArea3" "fotoArea4 fotoArea5 fotoArea6";
  gap: 1rem;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  place-items: center;
  padding: 20px;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .especialidades {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1" "fotoArea2" "fotoArea3" "fotoArea4" "fotoArea5" "fotoArea6";
    gap: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (width: 768px) {
  .especialidades {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "fotoArea1 fotoArea2" "fotoArea3 fotoArea4" "fotoArea5 fotoArea6";
    padding: 0.5rem;
  }
}

.especialidades__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.especialidades__item--foto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.especialidades__item--parrafo {
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  color: #3e474c;
  border-top: #3e474c solid;
  border-width: 1px;
}

.especialidades__item--parrafo {
  font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .especialidades__item--parrafo {
    font-size: calc( 1.2rem +  num(1rem)-num(1.2rem) *  (100vw - 768px) /  num(1024px)-num(768px));
  }
}

@media (min-width: 1024px) {
  .especialidades__item--parrafo {
    font-size: 1rem;
  }
}

.fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fotoArea1;
  background-color: #f6f2f2c2;
  padding-top: 25px;
  width: 20rem;
  border-width: 1px;
}

@media screen and (max-width: 425px) {
  .fotoArea1, .fotoArea2, .fotoArea3, .fotoArea4, .fotoArea5, .fotoArea6 {
    width: auto;
  }
}

.fotoArea2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fotoArea2;
}

.fotoArea3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoArea3;
}

.fotoArea4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fotoArea4;
}

.fotoArea5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fotoArea5;
}

.fotoArea6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fotoArea6;
}

/* MAIN SECCION TESTIMONIOS*/
/* COLORES */
/*SOMBRA*/
/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonios {
  background-image: url("https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804063/proyectoEstudio/assets/tinified/clientesFelices_qxrtrr.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 5rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 425px) {
  .testimonios {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (width: 768px) {
  .testimonios {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
}

.testimonios__secciones {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #f6f2f2c2;
  padding: 2rem;
  font-style: italic;
  font-size: 1rem;
  color: #17191a;
  -webkit-box-shadow: 5px 5px 5px 5px #2f2d2d3f;
          box-shadow: 5px 5px 5px 5px #2f2d2d3f;
  overflow: hidden;
  margin: 1rem;
}

@media screen and (max-width: 425px) {
  .testimonios__secciones {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media screen and (width: 768px) {
  .testimonios__secciones {
    width: 40rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1rem;
  }
}

.testimonios__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.testimonios__datos--foto {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonios__datos--cliente {
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: normal;
}

/* MAIN SECCION CONTACTO*/
/* COLORES */
/*SOMBRA*/
/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804061/proyectoEstudio/assets/tinified/formulario_j2atvi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .contacto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}

@media screen and (width: 768px) {
  .contacto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}

.contacto__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1600px;
  max-height: 800px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 425px) {
  .contacto__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (width: 768px) {
  .contacto__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.formulario {
  text-align: center;
  color: #f2f2f2;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .formulario {
    padding: 0rem;
  }
}

.formulario__divisiones1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 425px) {
  .formulario__divisiones1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.formulario__divisiones2 {
  margin: 0.5rem;
}

.formulario__bg {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .formulario__bg {
    border-style: none;
  }
}

.formulario__color {
  color: #f2f2f2;
  font-size: 2rem;
  padding-bottom: 1.2rem;
  padding-top: 0rem;
}

.formulario__color1 {
  color: #f2f2f2;
  font-size: 1.3rem;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

@media screen and (max-width: 425px) {
  .formulario__color1 {
    font-size: 1rem;
  }
}

.formulario__divisiones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .formulario__divisiones {
    margin: 0.2rem;
  }
}

.formulario__divisiones--input {
  width: 100%;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 425px) {
  .formulario__divisiones--input {
    width: 100%;
  }
}

.formulario__divisiones--text-area {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .formulario__divisiones--text-area {
    width: 100%;
  }
}

@media screen and (width: 425px) {
  .formulario__divisiones--text-area {
    width: 100%;
  }
}

.mapa {
  width: 100%;
  height: 44rem;
  padding-right: 1rem;
}

@media screen and (width: 768px) {
  .mapa {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 425px) {
  .mapa {
    padding-right: 0rem;
  }
}

.boton, .reset, .enviar {
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
}

.reset {
  background-color: #f2f2f2;
  border-color: #17191a;
}

.enviar {
  background-color: #3e474c;
  color: #f2f2f2;
}

.preguntas {
  background-color: #3e474c;
}

.pregunta1 {
  color: #3e474c;
}

/* COLORES */
/*SOMBRA*/
* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
créditos del mixin: https://codepen.io/jakob-e/pen/yVyYzv
*/
/* Haciendo uso del mixin de arriba con @include podemos declarar los valores máximos y minimos [en ese orden] 
en los breakpoints declarados en las variables: $font-lock-min & $font-lock-max: */
.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/error.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 150px;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .error {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
    margin-top: auto;
  }
}
/*# sourceMappingURL=main.css.map */