/* MAIN SECCION CONTACTO*/
@import "./variables";
@import "./fuente";
@import "./responsive";
@import "./reset";


.contacto {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804061/proyectoEstudio/assets/tinified/formulario_j2atvi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: auto;


  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    // max-width: 1600px;
    // max-height: 800px;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include movil {
      flex-direction: column-reverse;
      padding-top: 1rem;
    }

    @include tablet {
      flex-direction: column-reverse;
      padding-top: 1rem;
    }
  }
}

.formulario {
  text-align: center;
  color: $blanco;
  width: 100%;

  @include movil {
    padding: 0rem;
  }

  &__divisiones1 {
    display: flex;
    flex-direction: row;

    @include movil {
      flex-direction: column;
    }
  }

  &__divisiones2 {
    margin: 0.5rem;
  }


  &__bg {
    width: 100%;

    @include movil {
      border-style: none;
    }
  }

//Formato de su consulta es bienvenida
  &__color {
    color: $blanco;
    font-size: 2rem;
    padding-bottom: 1.2rem;
    padding-top: 0rem;
  }

// formato de checkbox
  &__color1 {
    color: $blanco;
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;

    @include movil {
      font-size: 1rem;
    }

    @include tablet {
      padding-bottom: 0rem;
    }
  }

  &__divisiones {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

    @include movil {
      margin: 0.2rem;
    }

    &--input {
      width: 100%;
      padding: 0.5rem;
      margin-right: 0.5rem;
      
      @include movil {
        width: 100%;
      }
    }

    &--text-area {
      width: 100%;

      @include movil {
        width: 100%;
      }

      @include movil2 {
        width: 100%;
      }
    }
  }
}

.mapa {
  width: 100%;
  height: 44rem;

  @include tablet {
    height: 22rem;
  }

  @include movil {
    height: 22rem;
  }
}

.boton {
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
}

.reset {
  @extend .boton;
  border-color: $dorado;
  color: $blanco;
  font-size: 1.2rem;
  background-color: $gris;
  border-radius: 2rem;
  padding: 0.5rem;

    &:hover {
      background-color: $dorado;
      color: $gris;
    }
}

.enviar {
  @extend .boton;
  border-color: $dorado;
  color: $blanco;
  font-size: 1.2rem;
  background-color: $dorado;
  border-radius: 2rem;
  padding: 0.5rem;
     

    &:hover {
      background-color: $gris;
      color: $dorado;
    }
}

.preguntas {
  background-color: $gris;
}