@import "./variables";
@import "./responsive";

.encabezado {
  width: 100%;

  &__contactanos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gris;
    position: relative;
    color: $dorado;
    min-height: 2rem;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF29;

    & ul {
      margin: 2vh;
    }

    & ul li {
      display: inline;
      margin: auto 1vh auto 1vh;
    }

    @include movil {
      display: none;
    }
  }

  &__iconos {
    @extend .pie__iconos;

    &--color {
      @extend .pie__iconos--color;
    }
  }

  &__nav {
    background-color: $gris;
    padding-bottom: 0.6rem;
  }

  &__logo {
    object-fit: scale-down;
    /* para ajustar la imagen al contenedor*/

    /*colocandole una animacion de 3segundos al logo*/
    animation-duration: 3s;
    animation-name: aparecer;

    @keyframes aparecer {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }

    }
  }
}

.lista {
  list-style: none;
  /*para que mi lista no tenga viñetas*/
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* Para que se distancien dejando espacio alrededor */
  align-items: center;
  /* y se centren */

  /* Para que en movil se muestren en columna */
  @include movil {
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
  }

  &__li {
    @include movil {
      padding-top: 1rem;
    }
  }

  &__item {
    color: $blanco;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    /* transicion de 1segundo VERRRRRRRRRRRRRRRRRRRR*/
    transition: all 1s;

    &--act {
      /*Para que cuando este en la pagina el item este en color dorado */
      color: $dorado;
      text-decoration-line: none;
    }

    &:hover {
      /*Cuando pase el mouse por el ancor de las listas el menu nav resalte la palabra en 
     dorado*/
      color: $dorado;
    }
  }
}