/* MAIN SECCION ESPECIALIDADES*/
@import "./variables";
@import "./fuente";
@import "./responsive";

.especialidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
        "foto1 foto2 foto3"
        "foto4 foto5 foto6";
    gap: 1rem;
    height: auto;
    width: 100%;
    background-color: $blanco;
    place-items: center;
    padding: 1.5rem;
    overflow: hidden;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto6";
        padding: 0.5rem;
    }

    @include movil {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6";
        gap: 1rem;
        padding: 0.5rem;
    }

    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 1rem;

        &--foto {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin-bottom: 2rem;
            object-fit: cover;
        }

        &--parrafo {
            text-align: center;
            line-height: 2rem;
            margin-top: 1rem;
            color: $gris;
            @include font-size(1.2rem, 1rem)
        }
    }

    &__titulo {
        line-height: 2rem;
        border-bottom: $gris solid;
        border-width: 1px;
    }
}


.foto1 {
    grid-area: foto1;
    background-color: $blancoTransparente;
    padding-top: 1.8rem;
    width: 20rem;
    border-width: 1px;

    @include movil {
        width: auto;
    }
}

.foto2 {
    grid-area: foto2;
    @extend .foto1;
}

.foto3 {
    grid-area: foto3;
    @extend .foto1;
}

.foto4 {
    grid-area: foto4;
    @extend .foto1;
}

.foto5 {
    grid-area: foto5;
    @extend .foto1;
}

.foto6 {
    grid-area: foto6;
    @extend .foto1;
}