@import "./variables";
@import "./reset";
@import "./fuente";
@import "./responsive";
@import "./principal";
@import "./especialidades";
@import "./reset";



.main__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: $blanco;
    background: rgb(200, 177, 118);
  background: -moz-linear-gradient(90deg, rgba(122, 107, 69, 0.975) 3%, rgba(62, 71, 76, 1) 93%);
  background: -webkit-linear-gradient(90deg,  rgba(122, 107, 69, 0.975) 3%, rgba(62, 71, 76, 1) 93%);
  background: linear-gradient(90deg,  rgba(122, 107, 69, 0.975) 3%, rgba(62, 71, 76, 1) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8b176", endColorstr="#3e474c", GradientType=1);

    @include movil {
        padding-top: 2.5rem;
    }
}

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
        "fotoArea1 fotoArea2 fotoArea3"
        "fotoArea4 fotoArea5 fotoArea6";
    gap: 1rem;
    height: auto;
    width: 100%;
    background-color: $blanco;
    place-items: center;
    padding: 20px;
    overflow: hidden;


    @include movil {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "fotoArea1"
            "fotoArea2"
            "fotoArea3"
            "fotoArea4"
            "fotoArea5"
            "fotoArea6";
        gap: 1rem;
        padding: 0.5rem;
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "fotoArea1 fotoArea2"
            "fotoArea3 fotoArea4"
            "fotoArea5 fotoArea6";
        gap: 1rem;
        padding: 0.5rem;
    }


    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &--foto {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin-bottom: 2rem;
            object-fit: cover;
        }

        &--parrafo {
            text-align: center;
            line-height: 2rem;
            margin-top: 1rem;
            color: $gris;
            border-top: $gris solid;
            border-width: 1px;
            @include font-size(1.2rem, 1rem)
        }
    }
}

.fotoArea1 {
    grid-area: fotoArea1;
    background-color: $blancoTransparente;
    padding-top: 25px;
    width: 20rem;
    border-width: 1px;

    &:hover {
        box-shadow: $boxshadowNosotros;
    }

    @include movil {
        width: auto;
    }
}

.fotoArea2 {
    grid-area: fotoArea2;
    @extend .fotoArea1;
}

.fotoArea3 {
    grid-area: fotoArea3;
    @extend .fotoArea1;
}

.fotoArea4 {
    grid-area: fotoArea4;
    @extend .fotoArea1;
}

.fotoArea5 {
    grid-area: fotoArea5;
    @extend .fotoArea1;
}

.fotoArea6 {
    grid-area: fotoArea6;
    @extend .fotoArea1;
}

.foto {
    &:hover {
        box-shadow: $boxshadowNosotros;
    }
}

.redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconos {
    size: 3rem;
    text-decoration: none;
    padding-right: 2rem;
    margin: 0px;
    border-radius: 50%;
    
    &__color {
        color: $gris;

        &:hover {
            color: $dorado;
          }
    }
}