@import "./variables";
@import "./reset";
@import "./fuente";
@import "./responsive";

main {
  background-color: $blanco;
  margin-top: 9.688rem;

  /* En movil */
  @include movil {
    margin-top: 0;
  }
}


.principal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px auto;
  grid-template-areas:
    "foto foto foto"
    "foto foto foto"
    "foto foto foto"
    ". parrafo parrafo";
  overflow: hidden;

  @include movil {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "foto"
      "foto"
      "foto"
      "parrafo";
  }

  &__foto {
    grid-area: foto;
    display: flex;
    background-image:linear-gradient(rgba(12, 12, 12, 0.6) rgba(12, 12, 12, 0.6)), url(../assets/principal.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  &__texto {
    margin-top: 9rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: flex-end;
    color: $blanco;

    @include tablet {
      margin-left: 4rem;
      margin-top: 10rem;
    }

    @include movil {
      margin-top: 6rem;
      margin-left: 2rem;
    }

    &--titulo {
      font-size: 4.5rem;
      font-weight: bold;

      @include movil {
        font-size: 2.2rem;
      }
    }

    &--boton {
      display: inline-block;
      justify-content: center;
      align-content: center;
      background-color: $dorado;
      border-radius: 2rem;
      padding: 0.5rem;
      border-color: $dorado;
      color: $blanco;
      font-size: 1.2rem;

      @include movil {
        margin-bottom: 2.5rem;
      }

      &:hover {
        background-color: $gris;
        color: $dorado;
      }
    }

    &--ancor {
      text-decoration-line: none;
      color: $blanco;

      &:hover {
        color: $blanco;
      }
    }

  }

  &__parrafo {
    grid-area: parrafo;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 3rem;
    color: $gris;

    /* El tamaño de la fuente cambia de un dispositivo a otro */
    @include font-size(1rem, 1.2rem);
  }

  &__linea {
    width: 70%;
    display: flex;
    margin-left: 15%;
  }

  &__seccion {
    padding-top: 2rem;
    color: $gris;
  }
}

.noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-template-areas:
    "fotoArea1 fotoArea2 fotoArea3 fotoArea4";
  gap: 1rem;
  width: 100%;
  background-color: $blanco;
  place-items: center;
  padding: 1rem;
  overflow: hidden;
  justify-content: center;
  

  @include movil {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "fotoArea1"
      "fotoArea2"
      "fotoArea3"
      "fotoArea4";
    padding: 0.5rem;
    margin-top: 0%;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "fotoArea1 fotoArea2"
      "fotoArea3 fotoArea4";
    padding: 0.5rem;
    margin-top: 0%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: $boxshadowNosotros;
  }

    &--foto {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      object-fit: cover;
    }

    &--titulo {
      text-align: center;
      line-height: 2rem;
      margin-top: 1rem;
      color: $gris;
      font-weight:bold;
      border-bottom: $gris solid;
      border-width: 0.1rem;

      @include font-size(1.2rem, 1rem)
    }

    &--ancor {
      line-height: 2rem;
      margin-top: 1rem;
      color: $gris;

      &:hover {
        color: $dorado;
      }

      @include font-size(1.2rem, 1rem)
    }
  }
}

.fotoArea1 {
  grid-area: fotoArea1;
  background-color: $blancoTransparente;
  padding: 2rem;
  border-width: 1rem;

  @include movil {
    width: auto;
  }
}

.fotoArea2 {
  grid-area: fotoArea2;
  @extend .fotoArea1;
}

.fotoArea3 {
  grid-area: fotoArea3;
  @extend .fotoArea1;
}

.fotoArea4 {
  grid-area: fotoArea4;
  @extend .fotoArea1;
}


// carrusel noticias
.seccion__bg {
  background-color: $grisTransparente;
}