
/* MAIN SECCION ESPECIALIDADES*/
@import "./variables";
@import "./fuente";
@import "./responsive";

.especialidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas:
        "fotoArea1 fotoArea2 fotoArea3"
        "fotoArea4 fotoArea5 fotoArea6";
    gap: 50px;
    height: auto;
    width: 100%;
    background-color: $blanco;
    place-items: center;
    padding: 150px;
    margin-top: 40px;
    overflow: hidden;


    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "fotoArea1"
        "fotoArea2"
        "fotoArea3"
        "fotoArea4"
        "fotoArea5"
        "fotoArea6";
        gap: 1rem;
        padding: 0.5rem;
        margin-top: 20%;
    }

    @include tablet2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "fotoArea1 fotoArea2"
        "fotoArea3 fotoArea4"
        "fotoArea5 fotoArea6";
        gap: 1rem;
        padding: 0.5rem;
        margin-top: 20%;
    }


    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--foto {
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }

        &--parrafo {
            text-align: center;
            line-height: 2rem;
            margin-top: 2rem;
            color: $gris;
            border-top: $gris solid;
            border-width: 1px;
            @include font-size(1.2rem, 1rem)
        }
    }
}

.fotoArea1 {
    grid-area: fotoArea1;
    background-color: $blancoTransparente;
    padding-top: 35px;
    width: 20rem;
    border-width: 1px;
    @include movil {
        width: auto;
    }
}

.fotoArea2 {
    grid-area: fotoArea2;
    @extend .fotoArea1;
}

.fotoArea3 {
    grid-area: fotoArea3;
    @extend .fotoArea1;
}

.fotoArea4 {
    grid-area: fotoArea4;
    @extend .fotoArea1;
}

.fotoArea5 {
    grid-area: fotoArea5;
    @extend .fotoArea1;
}

.fotoArea6 {
    grid-area: fotoArea6;
    @extend .fotoArea1;
}