//Formato de la pagina inicial.

@import "./variables";
@import "./fuente";
@import "./responsive";

.mainPrincipal {
  background-color: $blanco;

  // En movil
  @include movil {
    margin-top: 0;
  }
}

// Imagen de portada, titulo y Boton de consulta gratis. Ocupando Grid.

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 150px auto;
  grid-template-areas:
    "foto foto foto"
    "foto foto foto"
    "foto foto foto"
    "parrafo parrafo parrafo";
  overflow: hidden;

  @include movil {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "foto"
      "foto"
      "foto"
      "parrafo";
  }

  // Foto de portada con titulo en blanco.
  &__foto {
    grid-area: foto;
    display: flex;
    background-image: url("https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804066/proyectoEstudio/assets/tinified/principal_s2bnwq.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: scale-down;
  }

  &__texto {
    margin-top: 9rem;
    margin-left: 9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: flex-end;
    color: $blanco;

    @include tablet {
      margin-left: 4rem;
      margin-top: 12rem;
    }

    @include movil {
      margin-top: 3.5rem;
      margin-left: 1.5rem;
    }

    &--titulo {
      font-size: 5rem;
      font-weight: bold;

      @include tablet {
        font-size: 2.9rem;
      }

      @include movil {
        font-size: 1.7rem;
      }
    }

    &--boton {
      display: inline-block;
      justify-content: center;
      align-content: center;
      background-color: $dorado;
      border-radius: 2rem;
      padding: 0.5rem;
      border-style: none;
      color: $blanco;
      font-size: 1.2rem;

      @include movil {
        margin-bottom: 2.5rem;
        font-size: 1rem;
      }

      &:hover {
        background-color: $gris;
        color: $dorado;
      }
    }

    &--ancor {
      text-decoration-line: none;
      color: $blanco;

      &:hover {
        color: $blanco;
      }
    }

  }

  &__parrafo {
    grid-area: parrafo;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 3rem;
    color: $gris;

    /* El tamaño de la fuente cambia de un dispositivo a otro */
    @include font-size(1rem, 1.2rem);
  }

  &__linea {
    width: 70%;
    display: flex;
    margin-left: 15%;
  }

  &__seccion {
    padding-top: 2rem;
    color: $gris;
  }
}

//Noticias, novedades, legislacion relevante, utilizando grid.

.noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-template-areas:
    "fotoA1 fotoA2 fotoA3 fotoA4";
  gap: 1rem;
  width: 100%;
  background-color: $blanco;
  place-items: center;
  padding: 1rem;
  overflow: hidden;
  justify-content: center;

  
  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "fotoA1 fotoA2"
      "fotoA3 fotoA4";
    padding: 0.5rem;
    margin-top: 0%;
  }

  @include movil {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "fotoA1"
      "fotoA2"
      "fotoA3"
      "fotoA4";
    padding: 0.5rem;
    margin-top: 0%;
  }

  &__item {
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 25rem;
    height: 100%;

    &:hover {
      box-shadow: $boxshadowNosotros;
    }

    &--foto {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      object-fit: cover;
    }

    &--titulo {
      text-align: center;
      line-height: 2rem;
      margin-top: 1rem;
      color: $gris;
      font-weight: bold;
      border-bottom: $gris solid;
      border-width: 0.1rem;

      @include font-size(1.2rem, 1rem)
    }

    &--ancor {
      line-height: 2rem;
      margin-top: 1rem;
      color: $gris;

      &:hover {
        color: $dorado;
      }

      @include font-size(1.2rem, 1rem)
    }
  }
}

.fotoA1 {
  grid-area: fotoA1;
  background-color: $blancoTransparente;
  border-width: 1rem;

  @include movil {
    width: auto;
  }
}

.fotoA2 {
  grid-area: fotoA2;
  @extend .fotoA1;
}

.fotoA3 {
  grid-area: fotoA3;
  @extend .fotoA1;
}

.fotoA4 {
  grid-area: fotoA4;
  @extend .fotoA1;
}