@import "./variables";
@import "./reset";
@import "./fuente";
@import "./responsive";

main {
  background-color: $blanco;
  margin-top: 9.688rem;

  /* En movil */
  @include movil {
    margin-top: 0;
  }
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px auto;
  grid-template-areas:
    "foto foto foto"
    "foto foto foto"
    "foto foto foto"
    ". parrafo parrafo";
  overflow: hidden;

  @include movil {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "foto"
      "foto"
      "foto"
      "parrafo";
  }

  &__foto {
    grid-area: foto;
    display: flex;
    background-image: url(../assets/principal.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  &__texto {
    margin-top: 9rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content:flex-end;
    color: $gris;

    @include tablet {
      margin-left: 3rem;
      margin-top: 10rem;
    }

    @include movil {
      margin-top: 5rem;
      margin-left: 1rem;
    }
    
    &--titulo {
      font-size: 4.5rem;
      font-weight: bold;
      background-color: $blancoTransparente;
      border-radius: 2rem;

      @include movil {
        font-size: 2.2rem;
      }
    }

    &--boton {
      display: inline-block;
      justify-content: center;
      align-content: center;
      background-color: $dorado;
      border-radius: 2rem;
      padding: 0.5rem;
      border-color: $dorado;
      color: $blanco;
      font-size: 1.2rem;

      &:hover {
        background-color: $gris;
        color: $dorado;
      }
    }

    &--ancor {
      text-decoration-line: none;
      color: $blanco;

      &:hover {
        color: $blanco;
      }
    }

  }

  &__parrafo {
    grid-area: parrafo;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 3rem;
    color: $gris;

    /* El tamaño de la fuente cambia de un dispositivo a otro */
    @include font-size(1rem, 1.2rem);
  }
}


.noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  grid-template-areas:
      "fotoArea1 fotoArea2 fotoArea3";
  gap: 50px;
  height: auto;
  width: 100%;
  background-color: $blanco;
  place-items: center;
  padding: 50px;
  margin-top: 5px;
  overflow: hidden;


  @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "fotoArea1"
      "fotoArea2"
      "fotoArea3";
      gap: 1rem;
      padding: 0.5rem;
      margin-top: 20%;
  }

  &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--foto {
          border-radius: 50%;
          height: 250px;
          width: 250px;
          margin-bottom: 2rem;
      }

      &--ancor {
          text-align: center;
          line-height: 2rem;
          margin-top: 1rem;
          color: $gris;
          border-top: $gris solid;
          border-width: 1px;
          @include font-size(1.2rem, 1rem)
      }
  }
}



.fotoArea1 {
  grid-area: fotoArea1;
  background-color: $blancoTransparente;
  padding-top: 35px;
  width: 20rem;
  border-width: 1px;
  @include movil {
      width: auto;
  }
}

.fotoArea2 {
  grid-area: fotoArea2;
  @extend .fotoArea1;
}

.fotoArea3 {
  grid-area: fotoArea3;
  @extend .fotoArea1;
}