* {
  /* Selector universal, aplica a toda la pagina web*/
  font-family: "Roboto", sans-serif;
  /* fuente para toda mi pagina */
  margin: 0;
  /* margen de mi pagina */
  padding: 0;
  /* espacio entre el contenido del elemento y su borde */
  box-sizing: border-box;
}